<style>
            *{
    
            }
            body{
                background-color: #d8d8d8
            }
            .navbox{
                width: 100%;
                height: 50px;
                background-color: #ffffff
            }
            .logo{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-family: 'Croissant One', cursive;
                /* font-family: 'Ubuntu', sans-serif; */
                font-size: 35px;
                color: #673ab7;
            }
    
            .search{
                align-items: center;
            }
    
            .search .searchTerm {
                width: 100%;
                border: none !important;
                border-right: none !important;
                padding: 5px !important;
                height: 20px !important;
                border-radius: 5px 0 0 5px !important;
                outline: none !important;
                color: #060c09 !important;
                }
    
            .searchTerm:focus{
                color: #00B4CC;
            }
    
            .searchButton {
                width: 40px;
                height: 36px;
                border: 1px solid #00B4CC;
                background: #00B4CC;
                text-align: center;
                color: #fff;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                font-size: 20px;
            }
                        
    
        </style>