<!DOCTYPE html>
<html lang="en">
<%- include('include/layout-header.ejs') %>
    <link rel="stylesheet" href="../../css/feed.css">

    <body>
        <div class="main_container">
            <%- include('include/navbar.ejs') %>
                <div class="container">
                    <div class="sidebar">
                        <%- include('include/sidebar.ejs', { page: 'friends' }) %>
                    </div>
                    <div class="middle">
                        setting
                    </div>
    </body>

</html>