<!DOCTYPE html>
<html lang="en">
<%- include('include/layout-header.ejs') %>
<link rel="stylesheet" href="../../css/feed.css">
<body>
    <div class="main_container">
        <%- include('include/navbar.ejs') %>
        <div class="container">
            <div class="sidebar">
                <%- include('include/sidebar.ejs', { page: 'feed' }) %>
            </div>
            <div class="middle">
                <div class="feedDiv" id="allFeedDiv">
                    <div style="width:100%;display:grid;grid-template-columns: 55% 1% 44%;">
                        <div class="statuscontainer">
                            <div class="todaystatus mystatus" style="background-color: #caabff;">
                                <img src="/uploads/default_profile.png" alt="Default Profile Image">
                            </div>
                            <div class="todaystatus ostatus">
                                <img src="/uploads/default_profile.png" alt="Default Profile Image">
                            </div>
                            <div class="todaystatus ostatus">
                                <img src="/uploads/default_profile.png" alt="Default Profile Image">
                            </div>
                        </div>
                    <div>
                </div>
                <div class="statuscontainer">
                    <div class="post_something">
                        
                        Post Something
                    </div>
                    <div class="newpost" style="margin-top:10px">
                        <div class="wrap">
                            <div class="comment">
                                <!-- {{-- <input type="text" class="commentTerm" placeholder="Write here"> --}} -->
                                <textarea onclick="toggletonewpost()" name="" class="commentTerm" id="" cols="30" rows="1" placeholder="Write your post"></textarea>
                                <button type="submit" class="commentButton">
                                <i class="fa-regular fa-images"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>